.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__header {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  text-decoration-color: var(--text-decoration-color);
  text-decoration-line: underline;
}

.contact-info__sub-header {
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.contact-info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info__block--center {
  justify-content: center;
  margin-right: 110px;
}

.contact-info__item {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
  transition: color 0.3s;
}

.contact-info__item:hover {
  color: var(--hover-color);
}

.contact-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
  margin-right: 10px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info__item-icon path {
  fill: var(--icon-color);
}

.contact-info__item-icon {
  height: 1.1428rem;
  vertical-align: text-bottom;
  transition: transform 0.3s;
}

.contact-info__item-icon:hover {
  transform: scale(1.3);
}

.contact-info__avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid;
  border-color: var(--text-decoration-color);
}

@media screen and (max-width: 576px) {
  .contact-info__block--center {
    justify-content: center;
    margin-right: 0px;
  }
}