.experience-block {
  display: flex;
  justify-content: space-between;
}

.main-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.additional-info__education,
.project,
.additional-info__languages {
  flex: 1;
  margin: 0 10px;
}

.project__text {
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
  color: var(--secondary-text-color);

  transition: color 0.3s;
}

.project__text:hover {
  color: var(--hover-color);
}

.centered-list {
  text-align: center;
}

.additional-info__education-header,
.additional-info__project-header,
.additional-info__languages-header {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.additional-info__project-header{
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 20px;
}

.additional-info__education-university-durability,
.additional-info__education-university-name,
.additional-info__languages-item {
  color: var(--secondary-text-color);
}

.additional-info__languages-header {
  text-align: right;
}

.additional-info__languages-item {
  text-align: right;
}


@media screen and (max-width: 576px) {
  .experience-block {
    flex-direction: column;
    align-items: center;
  }

  .additional-info__education,
  .project,
  .additional-info__languages {
    width: 90%;
    margin-bottom: 20px;
  }

  .additional-info__education-header,
  .additional-info__project-header,
  .additional-info__languages-header {
    text-align: center;
  }

  .additional-info__education {
    text-align: center;
  }

  .additional-info__languages-header {
    text-align: center;
  }
  
  .additional-info__languages-item {
    text-align: center;
  }
}